body {
    font-family: Arial;
    box-sizing: border-box;
}

h1,
h2 {
    text-align: center;
    margin-top: 50px;
    font-weight: 200;

}

h1 {
    font-size: 2.5rem;
}

.container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    text-align: center;
    width: 21%;
    margin-top: 25px;
    /* border: 1px solid gray; */
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.3);
    transition: 0.4s;
    background-color: #B4B7BA;
}

h5 {
    font-size: 25px;
}

.card:hover {
    box-shadow: 0 14px 24px 0 rgba(0, 0, 0, 0.3);
}

p {
    color: #2A293E;
    font-size: 43px;
}

@media (max-width: 1000px) {
    .card {
        width: 30%;
    }
}

@media (max-width: 750px) {
    .card {
        width: 47%;
    }
}

@media (max-width: 497px) {
    .card {
        width: 65%;
    }
}

@media (max-width: 349px) {
    .card {
        width: 85%;
    }
}